html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/onexys_dev_style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Jade Mixing
    mixin space()
      | !{' '}
  body
    div.onexys_styling
      img.background_building(src= data.backgroundImageSrc, alt= data.backgroundImageAlt)
      div#background_building_outline
        div#bbo_white
      div#background_building_outline2
      div.title_mod.standard_title_box.left
        p= data.titleBlue
        h1= data.titleYellow
      div.quicklinks.standard_title_box.left
        a(href="#watch") Watch
        br
        a(href="#practice") Practice
        br
        a(href="#apply") Apply
        br
        a(href="#explore") Explore
      div.building_descriptor.standard_title_box.right
        h2= data.backgroundImageName
        p= data.backgroundImageDesc
      div.clear
      div#overview.module_box.standard_box.left
        div.title_box.standard_box
          h2 Overview
        p= data.overview_start
        ul
          for item in data.overview_list
            li= item.text
        p!= data.overview_end 
      div.left
        div#watch.module_box.standard_box
          div.title_box.standard_box
            h2 1. Watch
          for item in data.videos
            div.watch_video.left
              div.onexys_video
                a.colorbox(href= item.videoLocation)
                  img.onexys_thumbnail(src= item.videoImageLocation, alt= item.videoImageAlt)
                  img.onexys_playbutton(src= data.videoPlayButtonSrc, alt="")
              p
                span(style="font-size: 12pt;")
                  strong!= item.videoDesc
          div.clear
        div#practice.module_box.standard_box
          div.title_box.standard_box
            h2 2. Practice
          p= data.practiceDesc
          a(href= data.practiceQuizLocation, target="")
            div.onexys_button Practice Now
        div#apply.module_box.standard_box
          div.title_box.standard_box
            h2 3. Apply
          h4!= data.applySection.applyTitle
          p
            span!= data.applySection.applyDesc
          a(href= data.applySection.applyPDFSrc, data-api-endpoint= data.applySection.applyPDFEndpoint, data-api-returntype= data.applySection.applyPDFReturnType)
            div.onexys_button.apply_button.left
              img(src= data.applySection.icons.read, alt="Read.png")
              | 1. Read
          p.apply_description.left
            em Before
            |  your team meeting read the scenario and questions.
          div.clear
          a(title="Application Reflection 3.2: Interest Rates and the Fisher Equation", href= data.applySection.applyDiscussionLocation, data-api-endpoint= "https://yale.instructure.com/api/v1/" + data.applySection.applyDiscussionLocation, data-api-returntype="Discussion")
            div.onexys_button.apply_button.left
              img(src= data.applySection.icons.reflect, alt="Reflect.png")
              | 2. Reflect
          p.apply_description.left
            em Before
            |  your team meeting, complete the reflection
          div.clear
          div#meet-button.onexys_button.apply_button.left
            img(src= data.applySection.icons.meet  alt="Meet.png")
            | 3. Meet
          p.apply_description.left
            em Meet with your team!
            |  We'll unlock the questions afterwards.
          div.clear
          a(title="Fisher Equation", href="/courses/686/assignments/5914", target="")
            div.onexys_button.apply_button.left
              img(src= data.applySection.icons.answer, alt="Answer.png")
              | 4. Answer
          p.apply_description.left
            em After
            |  your team meeting, the application quiz will be unlocked.
          div.clear
        div#explore.module_box.standard_box.left
          div.title_box.standard_box
            h2 4. Explore
          div.explore_main
            - var i = 1
            for item in data.exploreSection 
              != item.iframe_html
              br
              != item.iframe_desc
              if i!= data.exploreSection.length
                br
                br
              else 
                br
              - i++
      //ONEXYS script
      script(src="/onexys_dev_script.js")

        